* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #e7d8c9;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #394f49;
	padding: 1vw;
	margin-bottom: 5vh;
	border: 1px solid #482728;
}

#accountIcon {
	font-size: 2em;
	color: #000;
}

contentContainer {
	display: flex;
}

sidebar {
	display: flex;
	flex-direction: column;
	margin-right: 2vw;
}

#sidebar {
	border: 1px solid #482728;
	padding-top: 1vh;
	padding-bottom: 1vh;
	background-color: #d3a388;	
	width: 15vw;
	height: auto;
}

#sidebarList li {
	list-style-type: none;
	width: 100%;
	padding: 0.5vh 0vw 0.5vh 2vw;
}

#sidebar a {
	width: 100%;
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

#sidebar li:hover {
	background-color: #C58663;
}

roster {
	display: flex;
	flex-direction: column;
}

#rosterHeader {
	margin-bottom: 1vh;
	font-size: 2.5em;
	text-align: center;
}

#rosterTable {
	width: 80vw;
}

#rosterTable, th {
	border: 1px solid #482728;
	border-collapse: collapse;
	text-align: left;
	padding: 0.5vh 0 0.5vh 1vw;
	padding-left: 1vw;
	background-color: #d3a388;
}

.headRow {
	background-color: #C58663;
	font-size: 1.25em;
	padding: 0.5vh 0 0.5vh 1vw;
}
